* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    /* background-color: black; */
    /* background-color: #60166e; */
    background-color: #252849;
    /* height: 100%; */
  }
  .navbar {
    position: sticky;
    top: 0px;
    display: flex;
    /* border: 2px solid tan; */
    border-bottom: 1px dashed rgb(212, 191, 191);
    /* background-color: black; */
    background-color: #1c3c44;
    padding-bottom: 4px;
  }
  .orc{
    color: red;
  }
  .ise_heading {
    /* color: rgb(221, 158, 41); */
    color: rgb(116 150 51);
    text-align: center;
    /* border: 2px solid red; */
    font-size: 24px;
  
    /* font-family: "Itim", cursive; */
    font-family: "ZCOOL XiaoWei", serif;
    /* margin-left:0px; */
    margin-top: 26px;
    margin-bottom: 23px;
    /* border-bottom: 1px dashed rgb(212, 191, 191); */
    /* border-right: 1px dashed rgb(212, 191, 191); */
  }
  .logo_ise {
    /* border: 2px solid yellow; */
    width: 30%;
  }
  .logo_ise img {
    width: 80px;
    height: 80px;
    /* border: 5px solid blue; */
    border-radius: 5px;
    object-fit: cover;
    margin-left: 10px;
    /* height: 160px; */
    /* width: 160px; */
    border-radius: 100%;
    margin-top: 12px;
  }
  .orclo img{
    width: 80px;
    height: 80px;
    /* border: 5px solid blue; */
    border-radius: 5px;
    object-fit: cover;
    position: absolute;
    right: 15px;
    top: 12px;
  }
  .okj{
    margin-top: -20px;
  }
  .questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
  }
  .question {
    /* border: 2px solid rgb(212, 191, 191); */
    margin: 10px;
    padding: 4px;
    color: #9f9b67;
    font-family: "ZCOOL XiaoWei", serif;
    color: #70675d;
    /* text-align: center; */
  }
  .ans {
    /* border: 2px solid gold; */
    margin: 4px;
    padding: 10px;
    color: #a9967d;
    color: #8c918c;
    /* text-align: none; */
    /* font-family: "ZCOOL XiaoWei", serif; */
    font-family: "Padauk", sans-serif;
  }
  .borderqans {
    border: 1px dashed rgb(109, 104, 104);
    margin: 20px;
  }
  #PS {
    color: rgb(134 143 59);
    color: rgb(115 117 89);
  }
  #col {
    color: #8c918c;
  }
  .faqs {
    margin-top: 30px;
    border-radius: 5px;
  }
  .faqscol {
    color: #5d9f99;
    color: rgb(221, 158, 41);
    color: rgb(115 117 89);
  }
  .jh{
    /* display: none; */
    opacity: 0;
  }
  .ojj{
    width: 100%;
    width: 100%;
    padding: 20px;
  }
  /**
  *  !MEdia Query
  
  **/
  @media only screen and (min-width: 0px) and (max-width: 1000px) {
    .logo_ise {
      width: 25%;
    }
  }
  @media only screen and (min-width: 0px) and (max-width: 950px) {
    .logo_ise {
      width: 20%;
    }
  }
  @media only screen and (min-width: 0px) and (max-width: 780px) {
    .logo_ise {
      width: 17%;
    }
  }
  @media only screen and (min-width: 0px) and (max-width: 750px) {
    .logo_ise {
      width: 20%;
    }
    .ise_heading {
      font-size: 35px;
    }
  }
  @media only screen and (min-width: 0px) and (max-width: 680px) {
    .logo_ise {
      width: 20%;
    }
    .ise_heading {
      font-size: 30px;
    }
    .logo_ise img {
      width: 70px;
      height: 70px;
    }
  }
  @media only screen and (min-width: 0px) and (max-width: 570px) {
    .logo_ise {
      width: 20%;
    }
    .ise_heading {
      font-size: 28px;
    }
    .logo_ise img {
      width: 65px;
      height: 65px;
    }
  }
  @media only screen and (min-width: 0px) and (max-width: 525px) {
    .logo_ise {
      width: 20%;
    }
    .ise_heading {
      font-size: 25px;
    }
    .logo_ise img {
      width: 60px;
      height: 60px;
    }
  }
  @media only screen and (min-width: 0px) and (max-width: 468px) {
    /* .logo_ise {
      width: 15%;
    }
    .ise_heading {
      font-size: 23px;
      margin-top: 20px;
    }
    .logo_ise img {
      width: 50px;
      height: 45px;
    } */
    /* .navbar {
      height: 70px;
    } */
  }
  @media only screen and (min-width: 0px) and (max-width: 405px) {
    .ise_heading {
      font-size: 20px;
    }
    .logo_ise img {
      width: 40px;
      height: 40px;
    }
    .navbar {
      height: 60px;
    }
  }
  @media only screen and (min-width: 0px) and (max-width: 359px) {
    /* .logo_ise {
      width: 40%;
    }
    .ise_heading {
      margin-top: 18px;
      font-size: 38px;
    } */
    /* .navbar {
      height: 80px;
    } */
  
    /* .logo_ise img {
      width: 67px;
      height: 58px;
    } */
  }
  @media only screen and (min-width: 0px) and (max-width: 408px) {
    .faqscol {
      font-size: 22px;
    }
  }
  @media only screen and (min-width: 0px) and (max-width: 385px) {
    .faqscol {
      font-size: 20px;
    }
  }
  @media only screen and (min-width: 0px) and (max-width: 361px) {
    .faqscol {
      font-size: 18px;
    }
  }
  @media only screen and (min-width: 0px) and (max-width: 337px) {
    .faqscol {
      font-size: 16px;
    }
  }
  

  .ise_heading {
    white-space: nowrap;
    display: inline-block;
    margin-top: 40px;
  }
  
  .ise_heading .okj,
  .ise_heading .orclo {
    display: inline;
    color: #8e8e89;
  }
  .orcnm{
    /* color: #959595; */
    color: #c24c4c;
    font-family: monospace;
    margin-left: -7px;
  }
  .okj1{
    color: #939696;
  }
  .cl{
    color: #ab8baa;
    font-weight: normal;
  }
  .bd{
    color: red;
    color: #826868;
  }

  @media only screen and (min-width: 0px) and (max-width: 878px) {
    .ise_heading {
     font-size: 21px;
    }
  }
  @media only screen and (min-width: 0px) and (max-width: 760px) {
    .ise_heading {
     font-size: 19px;
    }
  }
  @media only screen and (min-width: 0px) and (max-width: 730px)
  {
.logo_ise {
    width: 16%;
}
  }

  @media only screen and (min-width: 0px) and (max-width: 691px) {
    .ise_heading {
     margin-top: 41px;
    }
  }

  @media only screen and (min-width: 0px) and (max-width: 681px) {
    .ise_heading {
        font-size: 17px;
    }
  }
  @media only screen and (min-width: 0px) and (max-width: 625px) {
    .navbar {
        flex-direction: column;
    }
    .orclo img {
        top: 8px;
    }
    .ise_heading {
        margin-top: -5px;
    }
  }
  @media only screen and (min-width: 0px) and (max-width: 520px) {
    .ise_heading {
        display: none;
    }
    .orclo img {
        top: 13px;
        width: 60px;
        height: 60px;
    }
  }
  @media only screen and (min-width: 0px) and (max-width: 404px) {
   
    .orclo img {
        top: 2px;
        width: 60px;
        height: 60px;
    }
  }
  @media only screen and (min-width: 0px) and (max-width: 450px) {

    .questions {
padding: 0px;
    }
  }